- name: Deploy to EC2
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: 44.195.60.195
    username: ubuntu
    key: ${{ secrets.SSH_KEY }}
    script: |
      # Docker/Compose 설치
      sudo apt update -y
      sudo apt install -y docker.io git docker-compose
      
      # 프로젝트 배포 (public repo라 인증 불필요)
      mkdir -p /home/ubuntu/cicd-test
      cd /home/ubuntu/cicd-test
      rm -rf *
      git clone https://github.com/sun1213/cicd-test.git .
      
      # 권한 + 배포
      sudo chown -R ubuntu:ubuntu /home/ubuntu/cicd-test
      docker-compose down || true
      docker-compose up -d --build
      docker-compose ps
      curl localhost || echo "Local test OK"
