name: Python application

# 어떤 상황에서 이 작업이 작동할지 결정합니다.
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # Python 설정
    - name: Set up Python 3.14.0
      uses: actions/setup-python@v5
      with:
        python-version: "3.14.0"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    # Docker Hub 로그인
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Docker 빌드/푸시
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: "${{ secrets.DOCKERHUB_USERNAME }}/fastapi-app:latest"

    # EC2 배포
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          mkdir -p /home/ubuntu/cicd-test
          cd /home/ubuntu/cicd-test
          rm -rf *
          git clone https://github.com/sun1213/cicd-test.git .
          command -v docker-compose || sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose && sudo chmod +x /usr/local/bin/docker-compose
          docker-compose down || true
          docker-compose up -d --build
          docker-compose ps
